asgiref==3.8.1
Django==5.2
django-cors-headers==4.6.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.4.0
Markdown==3.8
mysqlclient==2.2.7
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
reportlab==4.5.1
pytest==8.3.5
pytest-django==4.9.0